@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn{
        @apply text-center rounded-full bg-white py-[xss/2] px-xxs text-gray-400 hover:-translate-y-[0.5] duration-300 transition-all my-xxs;
    }

    .card{
        @apply mx-[xxs/1] my-xs flex flex-col space-y-xxs rounded-xl shadow-lg shadow-gray-700 hover:opacity-85 bg-gray-300;
    }
}

@layer utilities{

}

body{
    width:100vw;
    height: 100vh;
    background-image: url("/assets/images/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

.demo-section .demo-text {
    position: relative;
    top: 0;
    left: 0;
    color: white;
    font-size: 12rem;
    line-height: 1;
    font-weight: 900;
    transform: skewY(5deg);
  }